$app-background-color: #fcede0;
$beige: #F2D7C3;
$blue: #3f51b5;
$white: white;
$black: #000000;
$roseFonce: #f2d7c3;
$bleuClair: #9fc5f8;
$vertClair: #b6d7a8;
$violetClair: #b4a7d6;
$jauneClair: #ffe599;
$marron: #87591a;
