<app-header-patient></app-header-patient>

<div class="boite">
  <div class="align">
    <p class="indexQuestion" [appPolice]="">{{index + 1}}/{{nbQuestion}}</p>
    <img src="assets/boutonRetour.png" [appClickable]="tupleRetour">
  </div>

  <div class="align">
    <div class="milieu">
      <h2 class="intituleQuestion" [appPolice]="">{{question?.intitule}}</h2>
    </div>

    <img src="{{question?.image}}" width="200px"/>
  </div>

  <div>
    <div class="reponse">
      <button class="question1" [appQuestionDirective]="reponseListe[0]" [appPolice]="">
        {{reponseListe[0].valeur}}
      </button>
    </div>

    <div class="reponse">
      <button class="question2" [appQuestionDirective]="reponseListe[1]" [appPolice]="">
        {{reponseListe[1].valeur}}
      </button>
      <button class="question3" [appQuestionDirective]="reponseListe[3]" [appPolice]="">
        {{reponseListe[3].valeur}}
      </button>
    </div>

    <div class="reponse">
      <button class="question4" [appQuestionDirective]="reponseListe[2]" [appPolice]="">
        {{reponseListe[2].valeur}}
      </button>
    </div>

  </div>
</div>
<app-footer></app-footer>
