²²²²²²<app-header-patient></app-header-patient>

<div class="boite" >
  <div class="align">
    <p>{{question[0].id}}/{{question[0].id}}</p>
    <img src="assets/boutonRetour.png" routerLink="/accueil" >
  </div>

  <div class="align">
    <div class="milieu">
      <h2>Question {{question[0].id}} :&nbsp; </h2>
      <h2>{{question[0].intitule}}</h2>
    </div>

    <img src="{{question[0].img}}" width="80"/>
  </div>

  <div>
    <div class="reponse">
      <button class="question1" [accessKey]="repondre( question[0].responses[0])">{{question[0].responses[0].valeur}}</button>
    </div>

    <div class="reponse">
      <button class="question2" [accessKey]="repondre(question[0].responses[1])">{{question[0].responses[1].valeur}}</button>
      <button class="question3" [accessKey]="repondre( question[0].responses[3])">{{question[0].responses[3].valeur}}</button>
    </div>

    <div class="reponse">
      <button class="question4" [accessKey]="repondre( question[0].responses[2])">{{question[0].responses[2].valeur}}</button>
    </div>

  </div>
</div>
<app-footer></app-footer>
