<app-header-patient></app-header-patient>

<div class="boite">
  <div class="align">
    <p>{{questions?.id}}/{{questions?.id}}</p>
    <img src="assets/boutonRetour.png" >
  </div>

  <div class="align">
    <div class="milieu">
      <h2>Question {{questions?.id}} :&nbsp; </h2>
      <h2>{{questions?.intitule}}</h2>
    </div>

    <img src="{{questions?.img}}" width="200px"/>
  </div>

  <div>
    <div class="reponse">
      <button class="question1">{{questions?.reponses?.[0]?.valeur}}</button>
    </div>

    <div class="reponse">
      <button class="question2">{{questions?.reponses?.[1]?.valeur}}</button>
      <button class="question3">{{questions?.reponses?.[3]?.valeur}}</button>
    </div>

    <div class="reponse">
      <button class="question4">{{questions?.reponses?.[2]?.valeur}}</button>
    </div>

  </div>
</div>
<app-footer></app-footer>
