<app-header-patient></app-header-patient>
<div class="aide" [appPolice]="">
  <div class="conteneur">
    <div class="titre">Aide</div>
    <div class="contenu">
      <div class="left">
        <div> Bienvenue sur la page d'aide!</div>
        <div class="list">
          <div> Chaque couleur sur le clavier correspond à une action </div>
          <ul>
            <li>violet : se diriger vers la gauche</li>
            <li>vert : se diriger vers le haut</li>
            <li>jaune : se diriger vers le bas</li>
            <li>bleu :  se diriger vers la droite</li>
            <li>marron : valider votre sélection</li>
            <li>orange : retour à la page d'avant</li>
            <li>gris: dirige vers la page d'aide (celle-ci)</li>
          </ul>
        </div>
        <div>Pour toutes autres questions demandez à vos encadrants.</div>
        <div>Profitez de notre site!</div>
      </div>
      <div class="droite">
        <img src="../../../assets/Clavier.png" alt="clavier" class="clavier" id="imageClavier">
        <input class="bouton-retour" type="button" value="Retour" appDirectivePageAide/>
      </div>
    </div>
  </div>
</div>
