@import '../../../styles/card';


.creation-quiz{
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  border: 2px solid $beige;
  border-radius: 5px;
  background-color: #f2d7c3;
  font-size:20px;
}

.recherche-quiz{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 20px;

  .recherche{
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    border: 2px solid $beige;
    border-radius: 5px;
    background-color: $beigeSearch;
    font-size:20px;
  }
}


.ma-liste-quizs{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  .quiz{
    width: 100%;

  }

  .quiz-app{
    border : 2px solid #f2d7c3;
    border-radius: 5px;
    margin:20px auto;
    padding: 10px;
    width: 80%;
    position: relative;
    background-color: white;
  }
}
