<div class="mes-quizs">
  <button class="creation-quiz" routerLink="/creer-quiz">Créer un nouveau quiz</button>

  <div class="ma-liste-quizs">
    <div class="quiz" *ngFor="let quiz of quizListe">

      <div class="quiz-app">
        <app-quiz [options]="{ ergo : true, patient : false}" [quiz]="quiz" (quizDeleted)="quizDeleted($event)">

        </app-quiz>
      </div>
    </div>

  </div>

  Bouton provisoire pour retourner à l'accueil en attendant le header
  <button class="retour" routerLink="/accueil">Retour</button>

</div>


