<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title> Modification de patient</title>
</head>
<app-header-pro></app-header-pro>
<div class="creer-patient">
  <form class="patient-form" [formGroup]="patientForm">
    <p> Nom du patient
      <input type="text" class="input-texte" formControlName="nom">
    </p>

    <p> Prénom du patient
      <input type="text" class="input-texte"  formControlName="prenom" >
    </p>

    <p> Date de naissance
      <input type="date" >
    </p>

    <div class="handicap"></div>
    <p> Handicap:
    <div class ="handicap-l" *ngIf="patientAMettreJour?.handicap == 'leger'">
      <input type="radio" id="handicap-leger-l" value="leger" checked>
      <label for="handicap-leger-l">Parkinson léger</label>
      <br>
      <input type="radio" id="handicap-fort-l" value="fort" >
      <label for="handicap-fort-l">Parkinson fort</label>
    </div>
    <div class ="handicap-f" *ngIf="patientAMettreJour?.handicap == 'fort'">
      <input type="radio" id="handicap-leger-f" value="leger" >
      <label for="handicap-leger-f">Parkinson léger</label>
      <br>
      <input type="radio" id="handicap-fort-f" value="fort" checked>
      <label for="handicap-fort-f">Parkinson fort</label>
    </div>


    <p class="explication"> Explications aux question:
    <div class="explication-o" *ngIf="patientAMettreJour?.explication == 'oui'">
      <input type="radio" class="explication-oui" id="oui-avant-O" value="oui" checked >
      <label for="oui-avant-O">Oui</label>
      <br>
      <input type="radio" class="explication-non" id= "oui-avant-N" value="non" >
      <label for="oui-avant-N">Non</label>
    </div>
    <div class="explication-n" *ngIf="patientAMettreJour?.explication == 'non'">
      <input type="radio" class="explication-oui" id="non-avant-O" value="oui" >
      <label for="oui-avant-O">Oui</label>
      <br>
      <input type="radio" class="explication-non" id= "non-avant-N" value="non" checked >
      <label for="oui-avant-N">Non</label>
    </div>

    <p class="image-patient"> Image
      <input type="file" class="input-image" name="image" required>
    </p>

    <p class="taille-police">Taille de police
    <div class="police" *ngIf="patientAMettreJour?.taille == 24">
    <input type="radio" id="police-2424" value="24"  checked>
    <label for="police-2424">24</label>
    <br>
    <input type="radio" id="police-4024" value="40" >
    <label for="police-4024">40</label>
    <br>
    <input type="radio" id="police-6024" value="60" >
    <label for="police-6024">60</label>
  </div>
    <div class="police" *ngIf="patientAMettreJour?.taille == 40">
      <input type="radio" id="police-2440" value="24" >
      <label for="police-2440">24</label>
      <br>
      <input type="radio" id="police-4040" value="40" checked>
      <label for="police-4040">40</label>
      <br>
      <input type="radio" id="police-6040" value="60" >
      <label for="police-6040">60</label>
    </div>
    <div class="police" *ngIf="patientAMettreJour?.taille == 60">
      <input type="radio" id="police-2460" value="24" >
      <label for="police-2460">24</label>
      <br>
      <input type="radio" id="police-4060" value="40" >
      <label for="police-4060">40</label>
      <br>
      <input type="radio" id="police-6060" value="60" checked>
      <label for="police-6060">60</label>
    </div>

    <p class="taille-police">Taille de police
    <div class="souris">
      <input type="radio" value="oui" >
      <label for="oui-avant-O">Oui</label>
      <br>
      <input type="radio" value="non" checked >
      <label for="oui-avant-N">Non</label>
    </div>


    <p class="bouton-patients">
      <button class="button" type="button" id="annuler" routerLink="/accueil" > Annuler </button>
      <button class="button" (click)="modifierPatient()" type="button" id="valider" routerLink="/mes-patients" > Valider </button>
    </p>
  </form>


</div>


