<div class="creer-patient">
  <form class="patient-form" [formGroup]="patientForm">
    <p class="nom-patient"> Nom du patient
      <input type="text" class="input-texte" name="nom" [formControlName]="'nom'" placeholder="{{patient?.nom}}" required>
    </p>
    <p class="prenom-patient"> Prénom du patient
      <input type="text" class="input-texte" name="prenom" [formControlName]="'prenom'" placeholder="{{patient?.prenom}}" checked>
    </p>
    <p class="date-naissance"> Date de naissance
      <input type="date" [value]="DateDeNaissance" required>
    </p>

    <div class="handicap"></div>
    <p id="handicap-text"> Handicap:
    <div class ="handicap-l" *ngIf="patient?.handicap == 'leger'">
      <input type="radio" id="handicap-leger-l" value="leger" checked>
      <label for="handicap-leger-l">Parkinson leger</label>
      <br>
      <input type="radio" id="handicap-fort-l" value="fort" >
      <label for="handicap-fort-l">Parkinson fort</label>
    </div>
    <div class ="handicap-f" *ngIf="patient?.handicap == 'fort'">
      <input type="radio" id="handicap-leger-f" value="leger" >
      <label for="handicap-leger-f">Parkinson leger</label>
      <br>
      <input type="radio" id="handicap-fort-f" value="fort" checked>
      <label for="handicap-fort-f">Parkinson fort</label>
    </div>


    <p class="explication"> Explications aux question:
    <div class="explication-o" *ngIf="patient?.explication == 'oui'">
      <input type="radio" class="explication-oui" id="oui-avant-O" value="oui" checked >
      <label for="oui-avant-O">Oui</label>
      <br>
      <input type="radio" class="explication-non" id= "oui-avant-N" value="non" >
      <label for="oui-avant-N">Non</label>
    </div>
    <div class="explication-n" *ngIf="patient?.explication == 'non'">
      <input type="radio" class="explication-oui" id="non-avant-O" value="oui" >
      <label for="oui-avant-O">Oui</label>
      <br>
      <input type="radio" class="explication-non" id= "non-avant-N" value="non" checked >
      <label for="oui-avant-N">Non</label>
    </div>

    <p class="image-patient"> Image
      <input type="file" class="input-image" name="image" required>
    </p>

    <p class="taille-police">Taille de police
    <div class="police" *ngIf="patient?.taille == 24">
    <input type="radio" id="police-2424" value="24"  checked>
    <label for="police-2424">24</label>
    <br>
    <input type="radio" id="police-4024" value="40" >
    <label for="police-4024">40</label>
    <br>
    <input type="radio" id="police-6024" value="60" >
    <label for="police-6024">60</label>
  </div>
    <div class="police" *ngIf="patient?.taille == 40">
      <input type="radio" id="police-2440" value="24" >
      <label for="police-2440">24</label>
      <br>
      <input type="radio" id="police-4040" value="40" checked>
      <label for="police-4040">40</label>
      <br>
      <input type="radio" id="police-6040" value="60" >
      <label for="police-6040">60</label>
    </div>
    <div class="police" *ngIf="patient?.taille == 60">
      <input type="radio" id="police-2460" value="24" >
      <label for="police-2460">24</label>
      <br>
      <input type="radio" id="police-4060" value="40" >
      <label for="police-4060">40</label>
      <br>
      <input type="radio" id="police-6060" value="60" checked>
      <label for="police-6060">60</label>
    </div>


    <p class="bouton-patients">
      <button routerLink="/accueil" class="bouton"> Annuler </button>
      <button type="submit" routerLink="/mes-patients" class="bouton"> Valider </button>

    </p>
  </form>


</div>


