<app-header-patient></app-header-patient>

<div class="boite" >
  <div class="align">
    <div class="gauche">
      <h2 [style.font-size.px]="taille">Thème : {{theme[0].nom}}</h2>
      <h2 [style.font-size.px]="taille">Quiz : {{quiz[0].nom}}</h2>
    </div>
    <img src="assets/boutonRetour.png" routerLink="/accueil" >
  </div>

  <div class="alignMilieu">
    <img src="{{quiz[0].image}}" />
    <div>
      <p [style.font-size.px]="taille">Résultat : </p>
      <button [style.font-size.px]="taille">Jouer</button>
    </div>
    <div></div>
  </div>
</div>
<app-footer></app-footer>
