<app-header-patient></app-header-patient>

<div class="boite" >
  <div class="align">
    <div class="gauche">
      <h2 appPolice>Thème : {{themeNom}}</h2>
      <h2 appPolice>Quiz : {{quiz?.nom}}</h2>
      <p appPolice>Nombre de questions: {{nbQuestion}}</p>
    </div>
    <img src="assets/boutonRetour.png" [appClickable]="tupleRetour" alt="image">
  </div>

  <div class="alignMilieu">
    <img src="{{quiz?.image}}" alt="image">
    <div>
      <p appPolice>Meilleur score : </p>
      <p appPolice>Nombre de parties jouées: </p>
      <button [appClickable]="tupleEntrer" appPolice (click)="jouer()">Jouer</button>
    </div>
    <div></div>
  </div>
</div>
<app-footer></app-footer>
