<app-header-patient></app-header-patient>

<div class="boite" >
  <div class="align">
    <div class="gauche">
      <h2 appPolice>Thème : {{theme[0].nom}}</h2>
      <h2 appPolice>Quiz : {{quiz[0].nom}}</h2>
      <p appPolice>Nombre de questions: {{quiz[0].questions.length}}</p>
    </div>
    <img src="assets/boutonRetour.png" [appClickable]="lienRetour">
  </div>

  <div class="alignMilieu">
    <img src="{{quiz[0].image}}" />
    <div>
      <p *ngIf="nombreClick != 0" appPolice>Nombre d'utilisation souris : {{nombreClick}}</p>
      <p *ngIf="autresLettreTaper.length != 1" appPolice>Utilisation autre touche :</p>
      <div *ngFor="let lettre of autresLettreTaper">
        <p *ngIf="lettre.lettre != ''"> Lettre {{lettre.lettre}} utilisé {{lettre.occurence}} fois</p>
      </div>
      <p appPolice>Résultat: </p>
      <button [appClickable]="lien" appPolice>Rejouer</button>
    </div>
    <div></div>
  </div>
</div>
<app-footer></app-footer>
