<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Création de quiz </title>
</head>

<app-header-pro> </app-header-pro>

<div class="creer-quiz">
  <form class="quiz-form" [formGroup]="quizForm">
    <p> Nom du quiz
      <input type="text" id="nom" class="input-texte" name="nom" [formControlName]="'nom'" required>
    </p>
    <p class="theme" > Thème
      <input type="text" id="theme" class="input-texte" name="nomTheme" [formControlName]="'nomTheme'" required>
    </p>
    <p> Image
      <input type="text" class="input-image" name="image" [formControlName]="'image'" required>
    </p>

    <p class="bouton-paragraphe">
      <button routerLink="/mes-quizs" class="bouton" id="retour"> Retour </button>
      <button type="submit" (click)="onCreer()"  class="bouton" id="valider"> Valider </button>

    </p>
  </form>


</div>
