<app-header-patient></app-header-patient>
<div id="entete">
  <h1>Choisissez un quiz du thème {{selectTheme()}}</h1>
</div>
<br>

<div class="droite">
  <div></div>
  <img src="assets/boutonRetour.png" [appClickable]="lienRetour">
</div>

<div class="quiz-list">
  <div class="quiz" *ngFor="let quiz of quizList">
        <!--Inputs & Output allow communication between parent & child components.-->
        <!--More information: https://angular.io/guide/component-interaction-->
        <app-quiz [options]="{ergo : false, patient : true}" [quiz]="quiz" ></app-quiz>
    </div>
  </div>
<app-footer></app-footer>
