<app-header-patient></app-header-patient>
<div id="entete">
  <h1 appPolice >Choisissez un quiz du thème {{ThemeParent?.nomTheme}}</h1>
</div>
<br>

<div class="droite">
  <div></div>
  <img src="assets/boutonRetour.png" [appClickable]="tupleRetour">
</div>

<div class="quiz-list">
  <div class="quiz" *ngFor="let quiz of quizList; index as i" appPolice>
        <!--Inputs & Output allow communication between parent & child components.-->
        <!--More information: https://angular.io/guide/component-interaction-->
    <app-quiz [color]="(i === 0)"
      [options]="{ergo : false, patient : true}" [quiz]="quiz" *ngIf="ThemeParent?.id == quiz.themeId"> </app-quiz>
    </div>
  </div>
<app-footer></app-footer>
