@import '../../../styles/card';

.quiz-list {
  display: flex;
  flex-wrap: wrap;
}
#entete {
  text-align: center;
  background-color:$beige;
  padding:3px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

