@import '../../../styles/card';

.alignHorizontal{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
}

.image {
  width: 20%;
  height: 20%;
}

.alignVertical{
  width: 50%;
}

.boutons {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.modifier-quiz {
  border: 2px solid $beige;
  border-radius: 5px;
  background-color: #f2d7c3;
  font-size:20px;
}

.supprimer-quiz {
  border: 2px solid $beige;
  border-radius: 5px;
  background-color: #f2d7c3;
  font-size:20px;
}

.edit {
    margin-left: 0.3em;
}
.card {
  border-color:#F2D7C3;
  border-style: solid;
  margin-left: 110px;
  display: inline-block;
}

h2 {
  text-align: center;
}

#images {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button-card {
  display: block;
  margin: auto;
}
