
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Quiz </title>
</head>

<div class="quiz" *ngIf="options?.ergo">
  <p class="theme-quiz">
    {{quiz?.theme}}
  </p>
  <p class="nom-quiz">
    {{quiz?.nom}}
  </p>
  <p class="image">
    <img src="{{quiz?.image}}" alt="image" width="100%">
  </p>

  <p class="boutons" >
    <button class="modifier-quiz" >
      Modifier
    </button>

    <button class="supprimer-quiz" (click)="deletedQuiz()">
      Supprimer
    </button>
  </p>
</div>


<div class="card" >
    <h2>
        <i class="titre"></i>
        {{quiz?.nom}}
    </h2>
  <div id="images">
    <img  src={{quiz?.image}} width=400 height=200px>
  </div>
    <br>
  <button class="button-card" routerLink="/show-question">Jouer</button>

</div>
