
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Quiz </title>
</head>

<div class="quiz" *ngIf="options?.ergo">
  <div class="theme-quiz">
    <p>{{themeName}}</p>
  </div>

  <div class="alignHorizontal">
    <div class="image">
      <img src="{{quiz?.image}}" alt="image" width="100%">
    </div>

    <div class="alignVertical">
      <div class="nom-quiz">
        <p>{{quiz?.nom}}</p>
      </div>

      <div class="boutons" >
        <button class="modifier-quiz" routerLink="/quiz-modification/{{quiz?.id}}">
          Modifier
        </button>

        <button class="supprimer-quiz" (click)="deletedQuiz()">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>


<div class="card" *ngIf="options?.patient">
    <h2 [appPolice]="">
        <i class="titre"></i>
        {{quiz?.nom}}
    </h2>
  <div id="images">
    <img  alt="image" src="{{quiz?.image}}" width=400 height=200px>
  </div>
    <br>
  <button class="button-card" *ngIf="patientConfig.config?.souris == 'oui'" [style]="color? {'background-color': '#b4a7d6'} : ''" routerLink="{{ changerPage() }}" [appPolice]="">Jouer</button>
  <button class="button-card" *ngIf="patientConfig.config?.souris != 'oui'" [style]=" color? {'background-color': '#b4a7d6', 'cursor': 'default'} : {'cursor': 'default'}" [appPolice]="">Jouer</button>
</div>
