<title> Creation de question </title>
<div>
  <p> Intitule de la question
    <input type="text" name="nom" required>
  </p>

  <div>Reponse 1
    <input type="text" id="rep1" name="reponse" required>
  </div>

  <div>Reponse 2
    <input type="text" id="rep2" name="reponse" required>
  </div>

  <div>Reponse 3
    <input type="text" id="rep3" name="reponse" required>
  </div>

  <div>Reponse 4
    <input type="text" id="rep4" name="reponse" required>
  </div>

  <button> Valider </button>

</div>
