@import '../../../styles/card';


.creer-question {

  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid $beige;
  border-radius: 5px;
  width: 80%;
  position: relative;
  background-color: white;

  .input-texte{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size:20px;
  }

  .input-image{
    font-size:20px;
  }

  .bouton-question{
    display : flex;
    justify-content: space-between;
  }

  .bouton{
    border: 2px solid $beige;
    border-radius: 5px;
    background-color: #f2d7c3;
    font-size:20px;
  }

  .input-explication{
    font-size:20px;
  }
}
