
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Création de question </title>
</head>

<app-header-pro> </app-header-pro>
<div class="creer-question">
  <form class="question-form" [formGroup]="questionForm">
    <p> Intitulé de la question
      <input type="text" class="input-texte" id="intitule" name="nom" [formControlName]="'intitule'" required>
    </p>

    <div class="reponse" formArrayName="reponses">
      <div *ngFor="let reponse of reponses.controls; let i=index">
        <div class="reponse-form" [formGroupName]="i" >
          <label> Réponse {{i+1}}
            <input type="text" class="input-texte" name="reponse{{i+1}}" [formControlName]="'valeur'" required>
            <input type="radio" [value]="true" name="estCorrect" [formControlName]="'estCorrect'">
          </label>
          </div>
      </div>
    </div>


    <div>
      <p> Image de la question </p>
      <input class="input-image" type="file" name="img" id="img" accept="image/*">
    </div>

    <div>
      <p> Explication de la question </p>
      <textarea class="input-explication" id="explication" name="explication" [formControlName]="'explication'" rows="6" cols="50" maxlength="200"> </textarea>
    </div>

    <p class="bouton-question">
      <button (click)="retour()" class="bouton"> Retour </button>
      <button type="submit" class="bouton" (click)="ajouterQuestion($event)" >Ajouter question</button>
    </p>
  </form>
</div>
