<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Création de question </title>
</head>

<div class="creer-question">
  <p> Intitule de la question
    <input type="text" class="input-texte" name="nom" required>
  </p>

  <div>Reponse 1 :
    <input type="text" class="input-texte" id="rep1" name="reponse" required>
    <input type="radio" name="rep" value="rep1" checked>
  </div>

  <div>Reponse 2 :
    <input type="text" class="input-texte" id="rep2" name="reponse" required>
    <input type="radio" name="rep" value="rep2" >
  </div>

  <div>Reponse 3 :
    <input type="text" class="input-texte" id="rep3" name="reponse" required>
    <input type="radio" name="rep" value="rep3" >
  </div>

  <div>Reponse 4 :
    <input type="text" class="input-texte" id="rep4" name="reponse" required>
    <input type="radio" name="rep" value="rep4" >
  </div>

  <p class="bouton-question">
    <button routerLink="/creer-quiz" class="bouton"> Retour </button>
    <button routerLink="/creer-question" class="bouton">Ajouter question</button>
    <button routerLink="/mes-quizs" class="bouton"> Valider Quiz </button>
  </p>


</div>
