<div class="header">
  <div class="head">
    <img src="../../../assets/logoComplet.png" width="10%">
    <img src="../../../assets/titre.png" width="20%" >

    <div>
      <button class="button-card" routerLink="/accueil">Deconnexion</button>
    </div>
  </div>
  <div class="displayed">
    <nav>
      <a class="navigation" routerLink="/statistique">Statistiques</a>
      <a class="navigation" routerLink="/mes-quizs">Mes quizs</a>
      <a class="navigation" routerLink="/mes-patients">Mes patients</a>
    </nav>
  </div>
</div>
