@import "../../../styles/variables";

.header {
  padding: 0.5em;
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.displayed {
  display: flex;
  align-items: center;
  justify-content: center;
}



.navigation {
  font-size: 20px;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
  color: black;
  background-color: $roseFonce;
}
