<div class="header">
  <div class="head">
    <img src="../../../assets/logoComplet.png" width="10%">
    <img src="../../../assets/titre.png" width="20%" >

    <div>
      <button class="button-card">Deconnexion</button>
    </div>
  </div>
  <div class="displayed">
    <nav>
      <a class="navigation" [routerLink]="['/mes-quiz']">Statistiques</a>
      <a class="navigation" [routerLink]="['/ajouter-quiz']">Mes quizs</a>
      <a class="navigation" [routerLink]="['/ajouter-theme']">Mes patients</a>
    </nav>
  </div>
</div>
