<div class="blocs-patient-ergotherapeute">
  <div class="bloc-patient">
    <div class="bloc-patient-header">
      <span class="titre-list-patient">Patients</span>
    </div>
    <div class="recherche-patient">
      <input class="recherche" type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un patient">
    </div>
    <div class="bloc-patient-content">
      <div class="list-patient">
        <ng-container *ngFor="let patient of filterPatients(searchTerm)">
          <app-patient [patient]="patient"></app-patient>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="bloc-ergotherapeute">
    <div class="bloc-ergotherapeute-header">
      <span class="titre-list-ergotherapeute">Ergothérapeutes</span>
    </div>
    <div class="bloc-ergotherapeute-content">
      <div class="list-ergotherapeute">
        <ng-container *ngFor="let ergo of ergoList">
          <app-ergo [ergo]="ergo"></app-ergo>
        </ng-container>
      </div>
    </div>
  </div>
</div>
