<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title> Modification de quiz </title>
</head>

<app-header-pro> </app-header-pro>
<div class="quiz-modification">
  <form class="quiz-form" [formGroup]="quizForm" >
    <p> Nom du quiz
      <input type="text" id="nom" class="input-texte" [value]="quizToUpdate?.nom" formControlName="nom" >
    </p>
    <p> Thème du quiz
      <input type="text" id="theme" class="input-texte" [value]="theme?.nomTheme" formControlName="theme">
    </p>
    <p> Image du quiz
      <img [src]="quizToUpdate?.image" alt="image" width="30%">
      <input type="text" class="input-image" name="image" [formControlName]="'image'" required>
    </p>

    <div class="boutons">
      <button class="bouton" (click)="modifierQuiz()" type="button"  id="voir-question" routerLink="/quiz/{{quizToUpdate?.id}}/question-liste">Voir les questions</button>
      <button class="bouton" (click)="modifierQuiz()" type="button"  id="Valider" routerLink="/mes-quizs">Valider</button>
    </div>

  </form>
</div>
