@import './styles/variables.scss';


/* You can add global styles to this file, and also import other styles files */
html {
  font: 500 24px/32px Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: $app-background-color;
}
