@import '../../../styles/card';


.creer-patient{
  justify-content: center;
  margin:20px auto;
  padding: 10px;
  border: 2px solid $beige;
  border-radius: 5px;
  width: 80%;
  position: relative;
  background-color: white;

  .input-texte{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size:20px;
  }

  .input-image{
    font-size:20px;
  }

  .bouton-patients{
    display : flex;
    justify-content: space-between;
    margin: 10px;

    .bouton{
      border: 2px solid $beige;
      border-radius: 5px;
      background-color: #f2d7c3;
      font-size:20px;
    }
  }
}

.align{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* center align items vertically */
  margin-left: 10%;

}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alignOption{
  display: flex;
  flex-direction: row;
  margin-right: 10%;
  margin-left: 10%;
}

.space{
  margin-right: 25%;
}
