
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Création de patient </title>
</head>

<app-header-pro> </app-header-pro>

<div class="creer-patient">
  <h1>Création d'un patient</h1>
  <form class="patient-form" [formGroup]="patientForm">
    <div class="align">
      <div>
        <p class="nom-patient"> Nom du patient
          <input type="text" class="input-texte" name="nom" [formControlName]="'nom'" data-testid="input-nom-patient" required>
        </p>
        <p class="prenom-patient"> Prénom du patient
          <input type="text" class="input-texte" name="prenom" [formControlName]="'prenom'" data-testid="input-prenom-patient" required>
        </p>
        <p class="date-naissance"> Date de naissance
          <input type="date" class="input-image" name="date" [formControlName]="'dateNaissance'" data-testid="input-date-patient" required>
        </p>
      </div>
      <div class="center">
        <p class="image-patient"> Image
          <input type="file" class="input-image" name="image" [formControlName]="'image'" data-testid="input-image-patient" required>
        </p>
      </div>
    </div>

    <div class="alignOption">
      <div class="space">
        <p id="handicap-text"> Handicap:</p>
        <div id ="handicap">
          <input type="radio" id="handicap-leger" name="handicap-leger" value="leger" [formControlName]="'handicap'" data-testid="input-handicap-patient"checked>
          <label for="handicap-leger">Parkinson léger</label>
          <br>
          <input type="radio" id="handicap-fort" name="handicap-fort" value="fort" [formControlName]="'handicap'">
          <label for="handicap-fort">Parkinson fort</label>
        </div>
      </div>

      <div class="space">
        <p class="explication"> Explications aux questions:</p>
          <div id="explication">
            <input type="radio" id="explication-oui" name="explication-oui"value="oui" [formControlName]="'explication'" data-testid="input-explication-patient" checked>
            <label for="explication-oui">Oui</label>
            <br>
            <input type="radio" id="explication-non" name = "explication-non"value="non" [formControlName]="'explication'">
            <label for="explication-non">Non</label>
          </div>
        </div>
    </div>

    <div class="alignOption">
      <div class="space">
        <p class="taille-police">Taille de police:</p>
          <div id="police">
            <input type="radio" id="police-24" name = "police-24"value="24" [formControlName]="'police'" data-testid="input-police-patient" checked>
            <label for="police-24">24</label>
            <br>
            <input type="radio" id="police-40" name = "police-40" value="40" [formControlName]="'police'" >
            <label for="police-40">40</label>
            <br>
            <input type="radio" id="police-52" name = "police-52" value="52" [formControlName]="'police'" >
            <label for="police-52">52</label>
          </div>
      </div>

      <br>

      <div class="space">
        <p class="souris"> Utilisation de la souris:</p>
          <div id="souris">
            <input type="radio" id="souris-oui" value="oui" [formControlName]="'souris'" data-testid="input-souris-patient"checked>
            <label for="explication-oui">Oui</label>
            <br>
            <input type="radio" id="souris-non" value="non" [formControlName]="'souris'">
            <label for="explication-non">Non</label>
          </div>
      </div>
    </div>

    <p class="bouton-patients">
      <button routerLink="/mes-patients" class="bouton"> Annuler </button>
      <button type="submit" (click)="onCreer()" routerLink="/mes-patients" id="valider" class="bouton"> Valider </button>
    </p>
  </form>


</div>
