.creer-patient{

  justify-content: center;
  margin:20px auto;
  padding: 10px;
  border : 2px solid #f2d7c3;
  width: 80%;
  position: relative;
  background-color: white;

  .input-texte{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }
  .bouton{
    border:1px solid black;
    background-color: #f2d7c3;
  }
  .image-patient {
  }
}
