<app-header-patient></app-header-patient>
<div class="boite" >
  <div class="align">
    <p>{{questions?.id}}/{{questions?.id}}</p>
    <img src="assets/boutonRetour.png">
  </div>

  <div class="align">
    <div class="milieu">
      <h2>Question {{questions?.id}} :&nbsp; </h2>
      <h2>{{questions?.intitule}}</h2>
    </div>

    <img src="{{questions?.img}}" width="80"/>
  </div>

  <div class="explication">
    <p>La réponse: {{questions?.reponses?.[reponseCorrecte]?.valeur}} </p>
    <p>{{questions?.explication}}</p>
  </div>

  <button class="boutton">Continuer</button>

</div>

<app-footer></app-footer>
