<app-header-patient></app-header-patient>
<div class="boite" >
  <div class="align" [appClickable]="lienRetour">
    <p appPolice>{{questions?.id}}/{{questions?.id}}</p>
    <img src="assets/boutonRetour.png">
  </div>

  <div class="align">
    <div class="milieu" appPolice>
      <h3>{{questions?.intitule}}</h3>
    </div>

    <img src="{{questions?.img}}" width="200px"/>
  </div>

  <div class="explication">
    <p appPolice>La réponse: {{questions?.reponses?.[reponseCorrecte]?.valeur}} </p>
    <p appPolice>{{questions?.explication}}</p>
  </div>

  <button class="boutton" appDirectiveQuestionExplication appPolice>Continuer</button>

</div>

<app-footer></app-footer>
